.container-principal {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.container-formulario {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.container-part1 {
  padding: 0 30px;
}

.container-part2 {
  padding: 0 30px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  width: 80px;
  padding: 20px;
}

.barra-divisoria {
  margin-top: 0;
}

h1 {
  margin: auto;
}