.indicadores {
  display: flex;
  flex-direction: column;
  height: 300px;
  flex-wrap: wrap
}

.indicadores-cards {
  border: 1px solid black;
  width: 200px;
  margin: 10px;
  border-radius: 10px;
  background-color: #EBE4D5;
  box-shadow: 3px 2px 2px black;
}

.indicadores-cards:nth-child(n) {
  text-align: center;
}
