.input {
  width: 80px;
  background-color: unset;
  border: unset;
  border-bottom: 0.5px solid black;
  height: 20px;
  text-align: right;
  font-size: 15px;
  margin-right: 0;
  padding-right: 0;
}
